# Amazon PA-API (Product Advertising API) 設定
# https://affiliate.amazon.co.jp/ でアソシエイトアカウント取得後、PA-APIを申請
AMAZON_ACCESS_KEY=your_access_key_here
AMAZON_SECRET_KEY=your_secret_key_here
AMAZON_PARTNER_TAG=your_associate_tag-22
AMAZON_HOST=webservices.amazon.co.jp
AMAZON_REGION=us-west-2

# サーバー設定
PORT=3000
